<%= provide(:title, 'About') %>
<h1>This is the <%= yield(:title) %> page. Here you'll find out more about this site.</h1>
<p>Soon this section will be paragraphed and updated with some static stuff.</p>

