<%= provide(:title, 'Home') %>
<h1>This is the <%= yield(:title) %> page. Here you'll find out alot of content from this site.</h1>
<p>Soon this section will be paragraphed and updated with some all sorts of stuff.</p>

